 <%- include("../partials/header")%>
<div class="container">
 <div class="row"> 
 <h1 style="text-align: center;" >Edit <%=campground.name%></h1>
 <div class="design-form">
   <div class="thumbnail" >
        <div class="  imagePreview" id="image_preview">
        <img class="image_preview__default" 
        style="min-height: 100px; width: 100%;" src="data:<%=campground.contentType%>;base64,<%= campground.image%>">
    
     </div>
        </div>
     
 <form action="/campgrounds/<%=campground._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
 <div class="form-group">
     <input  class="form-control" type="text" name="name" value="<%=campground.name%>">
     </div>
     <div class="form-group">
     <input class="form-control" type="file" id="inpFile" name="myImage" accept="image/*">
     </div>
     <div class="form-group">
     <input class="form-control" type="text" name="description" value="<%=campground.description%>">
     </div>
     <div class="form-group">
     <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
     </div>
 </form>
 <a href="/campgrounds">Back</a>
</div>


</div>
</div>
<script type="text/javascript" src="/scripts/editPreview.js"></script>
 <%- include("../partials/footer")%>